.frm {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(/media/Mustang/m_1.3.jpeg);
}

.frm h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.frm label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.frm input[type="text"],
.frm input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.frm input[type="radio"] {
    margin: 0 10px 20px 0;
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.frm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.frm button:hover {
    background-color: #0056b3;
}