body {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

aside {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    grid-column: span 4; 
}

aside article {
    margin-bottom: 20px;
}

aside article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

aside article p {
    font-size: 1em;
    color: #555;
}
h1{
    text-align: center;
}
@media (min-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }
}